/*Index*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(26, 28, 196); }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(26, 28, 196);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(26, 28, 196);
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("imgcss/icon.png");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }

 /* footer*/


.footer{
    background: white;
    padding: 20px 0 20px 0;
    margin: auto;
    overflow: hidden;
}

.titulo-final{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    font-size: 24px;
    margin: 20 0 0 0;
    color: black;
}

/*hero*/

#hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imgcss/tortuga2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero1 h1{
    color: white;
}

#hero1 p{
    color: white;
    text-align: justify;
}

#hero1 button{
    font-size: 1.75em;
}

#hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imgcss/neumaticos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero2 h1{
    color: white;
}

#hero2 p{
    color: white;
    text-align: justify;
}

#hero2 button{
    font-size: 1.75em;
}

#hero3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imgcss/basuramar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero3 h1{
    color: white;
}

#hero3 p{
    color: white;
    text-align: justify;
}

#hero3 button{
    font-size: 1.75em;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(26, 28, 196);
}

/*index 2*/

.contaminacion { 
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
   }
   .contaminacion h1{
    font-size: 40px;
    text-align: center; 
    margin-top: 5%;  
    color:black;
   }
   .contaminacion p{
       font-size: 15px;
       text-align:justify;
       margin-left: 5%;
       margin-top: 5%;
       margin-right: 5%;
       margin-bottom: 5%;
       color:black;
   }
   .contaminacion h2{
       font-size: 40px;
       text-align:center;
       margin-left: 5%;
       margin-top: 5%;
       margin-right:5% ;
       color:black;
   }
   .contaminacion h3{
       font-size: 25px;
       text-align:left;
       margin-left: 5%;
       margin-top: 5%;
       margin-right:5% ;
       color:black;
   }
   .tipos p{
       font-size: 15px;
       text-align:justify;
       margin-left: 5%;
       margin-top: 0%;
       margin-right: 5%;
       margin-bottom: 6%;
       color:black;
   }
   
   #hero4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imgcss/basuramar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero4 h1{
    color: white;
}

#hero4 p{
    color: white;
    text-align: justify;
}

#hero4 button{
    font-size: 1.75em;
}

#hero5{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imgcss/basuramar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero5 h1{
    color: white;
}

#hero5 p{
    color: white;
    text-align: justify;
}

#hero5 button{
    font-size: 1.75em;
}

.body-5{
    text-align: center;
    
}
.content-1{
    display: grid;
    grid-template-columns:  repeat (3,1fr) ;
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.post-img-1{
    background: url(https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/21-10-2021_UN-News_plastic-pollution.jpg/image560x340cropped.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-2{
    background: url(https://s3.abcstatics.com/media/ciencia/2020/04/02/landmarkstud-kU7G--1248x698@abc.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-3{
    background: url(https://ichef.bbci.co.uk/news/800/cpsprodpb/15FB4/production/_121963009_oceanvoyages.png.webp);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post{
    box-shadow: 0 1px 6px 1px rgb(0,0, .1);
    overflow: hidden;
    transition: .2s;
}
.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0,0,0,.15);

}

.post-header{
   width: 100%;
   height: 200px;
   cursor: pointer;
}
.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
 transform: scale(1.1);
}

.post-body{
   padding: 15px;
   text-align: center;
}
  .post-body span {
  display: inline-block;
  color: #999;
  margin-bottom: 10px;
}

  .post-body h2{
    margin-bottom: 15px;
  }
  .post-body p {
   line-height: 1.5;
   margin-bottom: 20px;
 }
 .post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: antiquewhite;
    color:black ;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgb(0,0, .1); 
    transition: .2s;
}
.quienes h2{
 font-family: 'Work Sans', sans-serif;
 font-size: 50px;
 text-align: center;
 color: black;
 margin-bottom: 5%;
 background-color: rgba(173, 216, 230, 0.411);
 }

 .quienes p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    color: black;
    margin-left: 5%;
    margin-right: 3%;
 }

.center {
 display: block;
 margin-left: auto;
 margin-right: auto;

 } 

 .fcc-btn {
    background-color: #198d93;
    color: white;
    padding: 35px 45px;
    text-decoration: none;
    margin-left: 50%;
    font-size: 30px;
 margin-bottom: 10%;
 margin-top: 10%;

  }

  /*galeria*/

.body-6{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(240px,1fr));
    gap: 30px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.img-gallery img:hover{
    transform: scale(1.2);
}

.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.ful-img img{
   width: 90%;
    max-width: 600px; 
}

.titulo-video h1 {
font-size: 40px;
text-align: center;
}

.titulo-video h1 {
    font-size: 60px;
    text-align: center;
    background-color: lightblue;
    }

    
.titulo-video p {
    font-size: 20px;
    text-align: center;
    }

.videos {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 5%;
}